h1 {
  color: blue;
  background-color: yellow;
}
h1 {
  color: purple;
  background-color: grey;
}
p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}